# ¡Hola Salma! <a class="tocSkip"></a>

Mi nombre es Oscar Flores y tengo el gusto de revisar tu proyecto. Si tienes algún comentario que quieras agregar en tus respuestas te puedes referir a mi como Oscar, no hay problema que me trates de tú.

Si veo un error en la primera revisión solamente lo señalaré y dejaré que tú encuentres de qué se trata y cómo arreglarlo. Debo prepararte para que te desempeñes como especialista en Data, en un trabajo real, el responsable a cargo tuyo hará lo mismo. Si aún tienes dificultades para resolver esta tarea, te daré indicaciones más precisas en una siguiente iteración.

Te dejaré mis comentarios más abajo - **por favor, no los muevas, modifiques o borres**

Comenzaré mis comentarios con un resumen de los puntos que están bien, aquellos que debes corregir y aquellos que puedes mejorar. Luego deberás revisar todo el notebook para leer mis comentarios, los cuales estarán en rectángulos de color verde, amarillo o rojo como siguen:

<div class='alert alert-block alert-success'>
<b>Comentario de Reviewer</b> <a class='tocSkip'></a>

Muy bien! Toda la respuesta fue lograda satisfactoriamente.
</div>

<div class='alert alert-block alert-warning'>
<b>Comentario de Reviewer</b> <a class='tocSkip'></a>

Existen detalles a mejorar. Existen recomendaciones.
</div>

<div class='alert alert-block alert-danger'>

<b>Comentario de Reviewer</b> <a class='tocSkip'></a>

Se necesitan correcciones en el bloque. El trabajo no puede ser aceptado con comentarios en rojo sin solucionar.
</div>

Cualquier comentario que quieras agregar entre iteraciones de revisión lo puedes hacer de la siguiente manera:

<div class='alert alert-block alert-info'>
<b>Respuesta estudiante.</b> <a class='tocSkip'></a>
</div>

Mucho éxito en el proyecto!

## Resumen de la revisión v1 <a class="tocSkip"></a>

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Hola Salma, ¿cómo estás? Espero que todo esté bien por tu lado.

Buen trabajo! Has completado correctamente todo lo necesario del notebook, realizaste un gran trabajo aplicando los conocimientos de python necesarios, se nota que los manejas muy bien. No tengo comentarios de corrección, tu proyecto está aprobado. Felicitaciones por completar el notebook en la primera revisión, mucho éxito en el siguiente sprint!

Saludos!

</div>

----


# Proyecto 2 — Segunda Fase

¡Bienvenido/a! Como miembro del equipo analítico, ya sentaste las bases en la primera parte del proyecto. Ahora, aplicarás técnicas más avanzadas para procesar y analizar los datos de los clientes.


Como parte del equipo de análisis de Store 1, has recibido una base de datos cruda con información de clientes y sus compras. Tu objetivo es limpiar y procesar estos datos para poder responder a preguntas clave del negocio, como identificar clientes leales, analizar ingresos por categoría, y encontrar oportunidades de marketing segmentado.

---


## Introducción de los datos

La tienda Store 1 almacena información de sus usuarios en listas anidadas. Cada sublista contiene:

- `user_id`: identificador único
- `user_name`: nombre y apellido en un solo string
- `user_age`: edad
- `fav_categories`: categorías favoritas de compra (mayúsculas)
- `total_spendings`: montos correspondientes a cada categoría

Ejemplo:

```python
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ...
]
```

## Paso 1: Limpieza inicial de un registro de cliente

Este paso sirve como base para entender los elementos clave de un registro antes de escalar el proceso al resto de los usuarios.

Queremos aplicar las siguientes transformaciones:

1. Eliminar espacios en blanco y guiones bajos (`_`) del nombre del usuario.
2. Dividir el nombre en una lista separando nombre y apellido.
3. Convertir la edad del usuario a un número entero.

**Instrucciones**:

- Usa la variable `user` predefinida.
- Modifica los valores directamente en esa lista.
- Muestra el resultado final con `print(user)`.

In [2]:
# Usuario de ejemplo
user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

# Paso 1: limpiar y dividir el nombre
user[1] = user[1].strip().replace("_"," ")

# Paso 2: dividir el nombre en una lista
user[1]  = user[1].split(" ")# escribe tu código aquí

# Paso 3: convertir la edad a entero
user[2] = int(user[2])

# Mostrar resultado
print(user)

['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Muy bien, correcto uso de los métodos `strip()`, `replace()` y `split()`. 

Es importante notar que todos estos métodos retornan una copia del string sobre el que se aplican y no modifican el original

</div>

<details>
<summary>Haz clic para ver la pista</summary>

1. **Recortar y reemplazar:** utiliza `strip()` para eliminar espacios iniciales y finales del nombre del usuario y `replace('_', ' ')` para eliminar guiones bajos con espacios.
2. **Convertir la edad:** convierte la edad en entero utilizando la función `int()`.
3. **Separar el nombre:** utiliza el método `split()` para separar el nombre y el apellido, creando una sublista.

## Paso 2: Convertir las categorías a minúsculas

En los datos actuales, las categorías favoritas de los clientes están escritas completamente en mayúsculas. Este formato puede causar inconsistencias en análisis posteriores, como al agrupar, filtrar o contar categorías. Para garantizar una lectura uniforme y facilitar futuras operaciones, es necesario normalizar estos valores a minúsculas.

En este paso, trabajaremos con una lista de ejemplo llamada fav_categories y construiremos una nueva lista llamada fav_categories_low, que contendrá las versiones en minúsculas de cada categoría.

Instrucciones:

1. Crea una nueva lista donde cada categoría esté en minúscula.

2. Usando un bucle, recorre y transforma cada elemento de la lista con las categorias en mayuscula para que queden en minuscula.

3. Anade cada elemento a la nueva lista fav_categories_low

4. Muestra el resultado utilizando print para verificar que la conversión fue exitosa.

In [1]:
# Lista original de categorías favoritas escritas en mayúsculas
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

# 1. Lista vacía donde almacenaremos las categorías convertidas a minúsculas
fav_categories_low = []

# 2. Recorremos cada categoría en la lista original
for category in fav_categories:# escribe tu código aquí
    # 2. Convertimos la categoría a minúscula utilizando el método lower()
    lowered_category = category.lower()# escribe tu código aquí

    # 3. Agregamos la categoría convertida a la nueva lista
    fav_categories_low.append(lowered_category)# escribe tu código aquí

# 4. Mostramos en pantalla la lista resultante con las categorías en minúsculas
print(fav_categories_low)

['electronics', 'sport', 'books']

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Bien hecho, se itera y usa `lower()` correctamente

</div>

<details>
<summary>Haz clic para ver la pista</summary>

1. Recorre la lista `fav_categories` con un bucle.
2. Convierte cada categoría a minúscula utilizando el método `.lower()`.
3. Agrega cada categoría convertida a la nueva lista `fav_categories_low` usando `.append()`.
4. Muestra el resultado final con `print()`.


## Paso 3: Limpieza completa de un usuario

Ahora vamos a empaquetar todo ese proceso dentro de una función reutilizable.

Crea una función llamada `clean_user(user)` que realice estas acciones:

1. Limpie espacios y guiones del nombre y lo divida en nombre/apellido.
2. Convierta la edad a entero.
3. Convierta las categorías a minúsculas.

Usa el mismo código que escribiste en los pasos anteriores. Solo necesitas ajustarlo para que funcione dentro de una función.

Prueba tu función con el usuario `test_user` y muestra el resultado.

In [24]:

def clean_user(user):
    # Limpia y divide el nombre
    name = user[1].strip().replace("_", " ").split()# escribe tu código aquí

    # Edad como entero
    age =int(user[2])# escribe tu código aquí

    # Categorías a minúsculas

    categories = []
    for category in user[3]:
        lowered_category = category.lower()
        categories.append(lowered_category)

    return [user[0], name, age, categories, user[4]]

# Prueba
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
print(clean_user(test_user))

['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

¡Buen trabajo! Has estructurado correctamente la función, con un correcto uso de todo lo anterior para completarla.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

Crea una función llamada clean_user que reciba una lista user como argumento.

Dentro de la función, limpia el nombre usando .strip() y .replace() y luego divídelo con .split().

Convierte la edad a entero usando int().

Recorre la lista de categorías con un bucle o una lista por comprensión y usa .lower() en cada elemento.

Devuelve una nueva lista con los datos limpios en el mismo orden que el original.

No olvides probar tu función con test_user y mostrar el resultado con print().


## Paso 4: Limpieza de toda la base de usuarios

Ya tienes la función `clean_user()` funcionando correctamente. Ahora es momento de aplicarla a todos los registros de clientes.

1. Itera sobre la lista `users_raw`,
2. Usa la función `clean_user()` para limpiar cada usuario,
3. Guarda los resultados en una nueva lista llamada `users_clean`.

Al final, imprime `users_clean` para verificar que todos los usuarios han sido transformados correctamente.

In [27]:

users_raw = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]
]

users_clean = []

for cliente in users_raw:
    x=clean_user(cliente)
    users_clean.append(x)# escribe tu código aquí


print(users_clean)

[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['SAMANTHA', 'SMITH'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['David', 'White'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['Maria', 'Garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['JOSE', 'MARTINEZ'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['James', 'Lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Muy bien, la iteración por todos los usuarios y la aplicación de la función se realizó correctamente.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

Usa un bucle for para recorrer la lista users_raw. En cada vuelta, aplica la función clean_user() al usuario actual y guarda el resultado en una nueva lista llamada users_clean. Recuerda llenarla con .append().


## Paso 5: Calcular ingresos totales

Ahora que tienes todos los registros de clientes limpios, el siguiente paso es comenzar a generar insights que puedan ayudar a la empresa a tomar decisiones estratégicas.

La empresa desea conocer sus ingresos totales.

Para calcular los ingresos de la empresa, sigue estos pasos:

1. Crea una variable `revenue` con valor inicial 0.
2. Itera sobre la lista `users_clean` con un bucle `for`.
3. En cada iteración, extrae la lista de gastos de cada usuario (la última posición de la sublista).
4. Suma esos valores con `sum()` y añádelos a `revenue`.
5. Al finalizar, imprime el resultado final para mostrar el ingreso total generado por todos los usuarios.

In [28]:

users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0

for client in users_clean:
    gastos= client[-1]
    totalg=sum(gastos)
    revenue +=totalg

print(revenue)

9189

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Bien hecho, buen uso de `sum()` y de la iteración de la función para obtener el total de todos los usuarios.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

Analiza los objetivos del paso actual y reflexiona sobre qué estructura de control o función te ayudará a resolverlo. Reutiliza variables clave como `user`, `users_clean`, o `total_spendings` si ya las has usado previamente. Apóyate en funciones como `.lower()`, `.append()`, `sum()`, o bucles `for` y `while` según el caso.


## Paso 6: Usuarios menores de 30 años

El equipo de marketing quiere segmentar a los usuarios jóvenes para campañas específicas. Vamos a identificarlos.

Recorre la lista de usuarios `users_clean` que has preparado anteriormente y muestra los nombres de los clientes menores de 30 años.

#### Pasos:
1. Escribe un bucle `for` que recorra cada usuario en `users_clean`.

2. Agrega una condición `if` para seleccionar a los usuarios menores de 30 años.

3. Dentro del bloque, imprime solo el primer elemento del nombre del usuario.

📌 Recuerda:

Si un elemento dentro de la lista contiene otra lista (como el nombre del usuario), puedes acceder a sus valores usando múltiples índices. Primero accede a la posición del nombre completo, y luego selecciona la parte específica que quieras mostrar.

Al ejecutar el código, deberás ver los nombres de los usuarios menores de 30 años.

In [38]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]
for user in users_clean:
    if user[2]<30:
        print(user[1][0]) 

# escribe tu código aquí

kate
samantha
emily
jose
james

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Correcta la condición aplicada.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

Usa un bucle `for` para recorrer users_clean y un `if` para filtrar por edad (índice 2). El nombre está en la posición 1 como sublista; usa un segundo índice para acceder a una parte específica. Por ejemplo: `user[3][0]  # accede a la primera categoría (por ejemplo, "electronics")`

### Paso 7: Jóvenes con alto gasto

Ahora filtraremos a los usuarios jóvenes que también han gastado mucho dinero, para que la empresa pueda identificarlos y darles beneficios especiales.

Debajo tienes la lista `users_clean` con todos los datos procesados.

#### Pasos:

1. Escribe un bucle `for` que recorra cada usuario en `users_clean`.
2. Calcula el total gastado por cada usuario (suma de la lista de gastos).
3. Usa una condición `if` para mostrar solo los usuarios menores de 30 años **y** con un gasto total superior a \$1000.
4. Imprime solo la primera parte del nombre de cada usuario que cumpla ambos criterios.

In [39]:

users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users_clean:
    gastos= user[-1]
    totalg=sum(gastos)
    if user[2]<30 and  totalg>1000 :
        print(user[1][0])

samantha
james

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Muy bien con verificar ambas condiciones.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

La lista de gastos está en la última posición de cada usuario. Puedes sumar sus valores con `sum()`. Usa operadores lógicos como `and` para combinar condiciones dentro del `if`. El nombre es una sublista en la posición 1. Usa índices dobles para acceder a una parte específica.

### Paso 8: Usuarios que compraron ropa

Store 1 también está explorando patrones de compra por categoría. Comenzamos con la categoría `"clothes"`.

Debajo tienes la lista `users_clean` con toda la información de compras ya procesada.

#### Pasos:

1. Escribe un bucle `for` que recorra cada usuario en `users_clean`.
2. Usa una condición `if` para verificar si `"clothes"` está entre las categorías compradas.
3. Si cumple la condición, imprime el nombre del usuario y su edad en la misma línea.

In [41]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users_clean:
    if 'clothes' in user[3]:
        print(user[1], user[2])

['kate', 'morgan'] 24
['samantha', 'smith'] 29
['maria', 'garcia'] 33
['lisa', 'wilson'] 35
['james', 'lee'] 28

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Bien, correcto, buen uso de `in` para verificar la condición
    

</div>

<details>
<summary>Haz clic para ver la pista</summary>

La lista de categorías compradas está en la posición 3. Usa el operador `in` para comprobar si una categoría está presente. El nombre está en formato de sublista (índice 1) y la edad en la posición 2. Usa varios índices para acceder a los datos que necesitas.

### Paso 9: Función con filtro por categoría

Para automatizar el análisis por categoría, implementaremos una función reutilizable que permita obtener los clientes que hayan comprado en una categoría específica.

Debajo tienes el nombre de la función y una prueba ya preparada con la categoría `"home"`. Solo necesitas completar el cuerpo de la función.

#### Pasos:

1. Completa la definición de la función `get_clients_by_category` con dos argumentos: una lista de usuarios y una categoría a buscar.
2. Dentro de la función:

   * Crea una lista vacía para guardar los resultados.
   * Recorre cada usuario con un bucle `for`.
   * Usa una condición `if` para verificar si la categoría está en su lista de compras.
   * Si se cumple la condición, agrega a la lista de resultados una sublista con su ID, nombre completo, edad y gasto total.
3. Devuelve la lista resultante al final de la función.

In [66]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

def get_clients_by_category(lista,categoria):
    result = []
    for user in lista:
        gastos= user[-1]
        totalg=sum(gastos)
        if categoria in user[3]:
            result.append([user[0],user[1],user[2],totalg])
    return result

# Prueba con la categoría 'home'
filtered = get_clients_by_category(users_clean, 'home')
print(filtered)

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Excelente, buen trabajo. La función definida cumple con todo lo necesario, aplicas correctamente lo utilizado anteriormente en el notebook.
    

</div>

<details>
<summary>Haz clic para ver la pista</summary>
La lista de categorías está en la posición 3, y la de gastos en la última posición. Para calcular el gasto total de un usuario, puedes usar `sum()` sobre esa lista. Usa `append()` para agregar un nuevo registro a la lista final.

Al ejecutar el código, verás una lista con los usuarios que compraron en la categoría `'home'`.