# ¬°Hola Salma! <a class="tocSkip"></a>

Mi nombre es Oscar Flores y tengo el gusto de revisar tu proyecto. Si tienes alg√∫n comentario que quieras agregar en tus respuestas te puedes referir a mi como Oscar, no hay problema que me trates de t√∫.

Si veo un error en la primera revisi√≥n solamente lo se√±alar√© y dejar√© que t√∫ encuentres de qu√© se trata y c√≥mo arreglarlo. Debo prepararte para que te desempe√±es como especialista en Data, en un trabajo real, el responsable a cargo tuyo har√° lo mismo. Si a√∫n tienes dificultades para resolver esta tarea, te dar√© indicaciones m√°s precisas en una siguiente iteraci√≥n.

Te dejar√© mis comentarios m√°s abajo - **por favor, no los muevas, modifiques o borres**

Comenzar√© mis comentarios con un resumen de los puntos que est√°n bien, aquellos que debes corregir y aquellos que puedes mejorar. Luego deber√°s revisar todo el notebook para leer mis comentarios, los cuales estar√°n en rect√°ngulos de color verde, amarillo o rojo como siguen:

<div class='alert alert-block alert-success'>
<b>Comentario de Reviewer</b> <a class='tocSkip'></a>

Muy bien! Toda la respuesta fue lograda satisfactoriamente.
</div>

<div class='alert alert-block alert-warning'>
<b>Comentario de Reviewer</b> <a class='tocSkip'></a>

Existen detalles a mejorar. Existen recomendaciones.
</div>

<div class='alert alert-block alert-danger'>

<b>Comentario de Reviewer</b> <a class='tocSkip'></a>

Se necesitan correcciones en el bloque. El trabajo no puede ser aceptado con comentarios en rojo sin solucionar.
</div>

Cualquier comentario que quieras agregar entre iteraciones de revisi√≥n lo puedes hacer de la siguiente manera:

<div class='alert alert-block alert-info'>
<b>Respuesta estudiante.</b> <a class='tocSkip'></a>
</div>

Mucho √©xito en el proyecto!

## Resumen de la revisi√≥n v1 <a class="tocSkip"></a>

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Hola Salma, ¬øc√≥mo est√°s? Espero que todo est√© bien por tu lado.

Buen trabajo! Has completado correctamente todo lo necesario del notebook, realizaste un gran trabajo aplicando los conocimientos de python necesarios, se nota que los manejas muy bien. No tengo comentarios de correcci√≥n, tu proyecto est√° aprobado. Felicitaciones por completar el notebook en la primera revisi√≥n, mucho √©xito en el siguiente sprint!

Saludos!

</div>

----


# Proyecto 2 ‚Äî Segunda Fase

¬°Bienvenido/a! Como miembro del equipo anal√≠tico, ya sentaste las bases en la primera parte del proyecto. Ahora, aplicar√°s t√©cnicas m√°s avanzadas para procesar y analizar los datos de los clientes.


Como parte del equipo de an√°lisis de Store 1, has recibido una base de datos cruda con informaci√≥n de clientes y sus compras. Tu objetivo es limpiar y procesar estos datos para poder responder a preguntas clave del negocio, como identificar clientes leales, analizar ingresos por categor√≠a, y encontrar oportunidades de marketing segmentado.

---


## Introducci√≥n de los datos

La tienda Store 1 almacena informaci√≥n de sus usuarios en listas anidadas. Cada sublista contiene:

- `user_id`: identificador √∫nico
- `user_name`: nombre y apellido en un solo string
- `user_age`: edad
- `fav_categories`: categor√≠as favoritas de compra (may√∫sculas)
- `total_spendings`: montos correspondientes a cada categor√≠a

Ejemplo:

```python
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ...
]
```

## Paso 1: Limpieza inicial de un registro de cliente

Este paso sirve como base para entender los elementos clave de un registro antes de escalar el proceso al resto de los usuarios.

Queremos aplicar las siguientes transformaciones:

1. Eliminar espacios en blanco y guiones bajos (`_`) del nombre del usuario.
2. Dividir el nombre en una lista separando nombre y apellido.
3. Convertir la edad del usuario a un n√∫mero entero.

**Instrucciones**:

- Usa la variable `user` predefinida.
- Modifica los valores directamente en esa lista.
- Muestra el resultado final con `print(user)`.

In [2]:
# Usuario de ejemplo
user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

# Paso 1: limpiar y dividir el nombre
user[1] = user[1].strip().replace("_"," ")

# Paso 2: dividir el nombre en una lista
user[1]  = user[1].split(" ")# escribe tu c√≥digo aqu√≠

# Paso 3: convertir la edad a entero
user[2] = int(user[2])

# Mostrar resultado
print(user)

['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Muy bien, correcto uso de los m√©todos `strip()`, `replace()` y `split()`. 

Es importante notar que todos estos m√©todos retornan una copia del string sobre el que se aplican y no modifican el original

</div>

<details>
<summary>Haz clic para ver la pista</summary>

1. **Recortar y reemplazar:** utiliza `strip()` para eliminar espacios iniciales y finales del nombre del usuario y `replace('_', ' ')` para eliminar guiones bajos con espacios.
2. **Convertir la edad:** convierte la edad en entero utilizando la funci√≥n `int()`.
3. **Separar el nombre:** utiliza el m√©todo `split()` para separar el nombre y el apellido, creando una sublista.

## Paso 2: Convertir las categor√≠as a min√∫sculas

En los datos actuales, las categor√≠as favoritas de los clientes est√°n escritas completamente en may√∫sculas. Este formato puede causar inconsistencias en an√°lisis posteriores, como al agrupar, filtrar o contar categor√≠as. Para garantizar una lectura uniforme y facilitar futuras operaciones, es necesario normalizar estos valores a min√∫sculas.

En este paso, trabajaremos con una lista de ejemplo llamada fav_categories y construiremos una nueva lista llamada fav_categories_low, que contendr√° las versiones en min√∫sculas de cada categor√≠a.

Instrucciones:

1. Crea una nueva lista donde cada categor√≠a est√© en min√∫scula.

2. Usando un bucle, recorre y transforma cada elemento de la lista con las categorias en mayuscula para que queden en minuscula.

3. Anade cada elemento a la nueva lista fav_categories_low

4. Muestra el resultado utilizando print para verificar que la conversi√≥n fue exitosa.

In [1]:
# Lista original de categor√≠as favoritas escritas en may√∫sculas
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

# 1. Lista vac√≠a donde almacenaremos las categor√≠as convertidas a min√∫sculas
fav_categories_low = []

# 2. Recorremos cada categor√≠a en la lista original
for category in fav_categories:# escribe tu c√≥digo aqu√≠
    # 2. Convertimos la categor√≠a a min√∫scula utilizando el m√©todo lower()
    lowered_category = category.lower()# escribe tu c√≥digo aqu√≠

    # 3. Agregamos la categor√≠a convertida a la nueva lista
    fav_categories_low.append(lowered_category)# escribe tu c√≥digo aqu√≠

# 4. Mostramos en pantalla la lista resultante con las categor√≠as en min√∫sculas
print(fav_categories_low)

['electronics', 'sport', 'books']

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Bien hecho, se itera y usa `lower()` correctamente

</div>

<details>
<summary>Haz clic para ver la pista</summary>

1. Recorre la lista `fav_categories` con un bucle.
2. Convierte cada categor√≠a a min√∫scula utilizando el m√©todo `.lower()`.
3. Agrega cada categor√≠a convertida a la nueva lista `fav_categories_low` usando `.append()`.
4. Muestra el resultado final con `print()`.


## Paso 3: Limpieza completa de un usuario

Ahora vamos a empaquetar todo ese proceso dentro de una funci√≥n reutilizable.

Crea una funci√≥n llamada `clean_user(user)` que realice estas acciones:

1. Limpie espacios y guiones del nombre y lo divida en nombre/apellido.
2. Convierta la edad a entero.
3. Convierta las categor√≠as a min√∫sculas.

Usa el mismo c√≥digo que escribiste en los pasos anteriores. Solo necesitas ajustarlo para que funcione dentro de una funci√≥n.

Prueba tu funci√≥n con el usuario `test_user` y muestra el resultado.

In [24]:

def clean_user(user):
    # Limpia y divide el nombre
    name = user[1].strip().replace("_", " ").split()# escribe tu c√≥digo aqu√≠

    # Edad como entero
    age =int(user[2])# escribe tu c√≥digo aqu√≠

    # Categor√≠as a min√∫sculas

    categories = []
    for category in user[3]:
        lowered_category = category.lower()
        categories.append(lowered_category)

    return [user[0], name, age, categories, user[4]]

# Prueba
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
print(clean_user(test_user))

['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

¬°Buen trabajo! Has estructurado correctamente la funci√≥n, con un correcto uso de todo lo anterior para completarla.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

Crea una funci√≥n llamada clean_user que reciba una lista user como argumento.

Dentro de la funci√≥n, limpia el nombre usando .strip() y .replace() y luego div√≠delo con .split().

Convierte la edad a entero usando int().

Recorre la lista de categor√≠as con un bucle o una lista por comprensi√≥n y usa .lower() en cada elemento.

Devuelve una nueva lista con los datos limpios en el mismo orden que el original.

No olvides probar tu funci√≥n con test_user y mostrar el resultado con print().


## Paso 4: Limpieza de toda la base de usuarios

Ya tienes la funci√≥n `clean_user()` funcionando correctamente. Ahora es momento de aplicarla a todos los registros de clientes.

1. Itera sobre la lista `users_raw`,
2. Usa la funci√≥n `clean_user()` para limpiar cada usuario,
3. Guarda los resultados en una nueva lista llamada `users_clean`.

Al final, imprime `users_clean` para verificar que todos los usuarios han sido transformados correctamente.

In [27]:

users_raw = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]
]

users_clean = []

for cliente in users_raw:
    x=clean_user(cliente)
    users_clean.append(x)# escribe tu c√≥digo aqu√≠


print(users_clean)

[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['SAMANTHA', 'SMITH'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['David', 'White'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['Maria', 'Garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['JOSE', 'MARTINEZ'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['James', 'Lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Muy bien, la iteraci√≥n por todos los usuarios y la aplicaci√≥n de la funci√≥n se realiz√≥ correctamente.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

Usa un bucle for para recorrer la lista users_raw. En cada vuelta, aplica la funci√≥n clean_user() al usuario actual y guarda el resultado en una nueva lista llamada users_clean. Recuerda llenarla con .append().


## Paso 5: Calcular ingresos totales

Ahora que tienes todos los registros de clientes limpios, el siguiente paso es comenzar a generar insights que puedan ayudar a la empresa a tomar decisiones estrat√©gicas.

La empresa desea conocer sus ingresos totales.

Para calcular los ingresos de la empresa, sigue estos pasos:

1. Crea una variable `revenue` con valor inicial 0.
2. Itera sobre la lista `users_clean` con un bucle `for`.
3. En cada iteraci√≥n, extrae la lista de gastos de cada usuario (la √∫ltima posici√≥n de la sublista).
4. Suma esos valores con `sum()` y a√±√°delos a `revenue`.
5. Al finalizar, imprime el resultado final para mostrar el ingreso total generado por todos los usuarios.

In [28]:

users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0

for client in users_clean:
    gastos= client[-1]
    totalg=sum(gastos)
    revenue +=totalg

print(revenue)

9189

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Bien hecho, buen uso de `sum()` y de la iteraci√≥n de la funci√≥n para obtener el total de todos los usuarios.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

Analiza los objetivos del paso actual y reflexiona sobre qu√© estructura de control o funci√≥n te ayudar√° a resolverlo. Reutiliza variables clave como `user`, `users_clean`, o `total_spendings` si ya las has usado previamente. Ap√≥yate en funciones como `.lower()`, `.append()`, `sum()`, o bucles `for` y `while` seg√∫n el caso.


## Paso 6: Usuarios menores de 30 a√±os

El equipo de marketing quiere segmentar a los usuarios j√≥venes para campa√±as espec√≠ficas. Vamos a identificarlos.

Recorre la lista de usuarios `users_clean` que has preparado anteriormente y muestra los nombres de los clientes menores de 30 a√±os.

#### Pasos:
1. Escribe un bucle `for` que recorra cada usuario en `users_clean`.

2. Agrega una condici√≥n `if` para seleccionar a los usuarios menores de 30 a√±os.

3. Dentro del bloque, imprime solo el primer elemento del nombre del usuario.

üìå Recuerda:

Si un elemento dentro de la lista contiene otra lista (como el nombre del usuario), puedes acceder a sus valores usando m√∫ltiples √≠ndices. Primero accede a la posici√≥n del nombre completo, y luego selecciona la parte espec√≠fica que quieras mostrar.

Al ejecutar el c√≥digo, deber√°s ver los nombres de los usuarios menores de 30 a√±os.

In [38]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]
for user in users_clean:
    if user[2]<30:
        print(user[1][0]) 

# escribe tu c√≥digo aqu√≠

kate
samantha
emily
jose
james

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Correcta la condici√≥n aplicada.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

Usa un bucle `for` para recorrer users_clean y un `if` para filtrar por edad (√≠ndice 2). El nombre est√° en la posici√≥n 1 como sublista; usa un segundo √≠ndice para acceder a una parte espec√≠fica. Por ejemplo: `user[3][0]  # accede a la primera categor√≠a (por ejemplo, "electronics")`

### Paso 7: J√≥venes con alto gasto

Ahora filtraremos a los usuarios j√≥venes que tambi√©n han gastado mucho dinero, para que la empresa pueda identificarlos y darles beneficios especiales.

Debajo tienes la lista `users_clean` con todos los datos procesados.

#### Pasos:

1. Escribe un bucle `for` que recorra cada usuario en `users_clean`.
2. Calcula el total gastado por cada usuario (suma de la lista de gastos).
3. Usa una condici√≥n `if` para mostrar solo los usuarios menores de 30 a√±os **y** con un gasto total superior a \$1000.
4. Imprime solo la primera parte del nombre de cada usuario que cumpla ambos criterios.

In [39]:

users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users_clean:
    gastos= user[-1]
    totalg=sum(gastos)
    if user[2]<30 and  totalg>1000 :
        print(user[1][0])

samantha
james

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Muy bien con verificar ambas condiciones.

</div>

<details>
<summary>Haz clic para ver la pista</summary>

La lista de gastos est√° en la √∫ltima posici√≥n de cada usuario. Puedes sumar sus valores con `sum()`. Usa operadores l√≥gicos como `and` para combinar condiciones dentro del `if`. El nombre es una sublista en la posici√≥n 1. Usa √≠ndices dobles para acceder a una parte espec√≠fica.

### Paso 8: Usuarios que compraron ropa

Store 1 tambi√©n est√° explorando patrones de compra por categor√≠a. Comenzamos con la categor√≠a `"clothes"`.

Debajo tienes la lista `users_clean` con toda la informaci√≥n de compras ya procesada.

#### Pasos:

1. Escribe un bucle `for` que recorra cada usuario en `users_clean`.
2. Usa una condici√≥n `if` para verificar si `"clothes"` est√° entre las categor√≠as compradas.
3. Si cumple la condici√≥n, imprime el nombre del usuario y su edad en la misma l√≠nea.

In [41]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users_clean:
    if 'clothes' in user[3]:
        print(user[1], user[2])

['kate', 'morgan'] 24
['samantha', 'smith'] 29
['maria', 'garcia'] 33
['lisa', 'wilson'] 35
['james', 'lee'] 28

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Bien, correcto, buen uso de `in` para verificar la condici√≥n
    

</div>

<details>
<summary>Haz clic para ver la pista</summary>

La lista de categor√≠as compradas est√° en la posici√≥n 3. Usa el operador `in` para comprobar si una categor√≠a est√° presente. El nombre est√° en formato de sublista (√≠ndice 1) y la edad en la posici√≥n 2. Usa varios √≠ndices para acceder a los datos que necesitas.

### Paso 9: Funci√≥n con filtro por categor√≠a

Para automatizar el an√°lisis por categor√≠a, implementaremos una funci√≥n reutilizable que permita obtener los clientes que hayan comprado en una categor√≠a espec√≠fica.

Debajo tienes el nombre de la funci√≥n y una prueba ya preparada con la categor√≠a `"home"`. Solo necesitas completar el cuerpo de la funci√≥n.

#### Pasos:

1. Completa la definici√≥n de la funci√≥n `get_clients_by_category` con dos argumentos: una lista de usuarios y una categor√≠a a buscar.
2. Dentro de la funci√≥n:

   * Crea una lista vac√≠a para guardar los resultados.
   * Recorre cada usuario con un bucle `for`.
   * Usa una condici√≥n `if` para verificar si la categor√≠a est√° en su lista de compras.
   * Si se cumple la condici√≥n, agrega a la lista de resultados una sublista con su ID, nombre completo, edad y gasto total.
3. Devuelve la lista resultante al final de la funci√≥n.

In [66]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

def get_clients_by_category(lista,categoria):
    result = []
    for user in lista:
        gastos= user[-1]
        totalg=sum(gastos)
        if categoria in user[3]:
            result.append([user[0],user[1],user[2],totalg])
    return result

# Prueba con la categor√≠a 'home'
filtered = get_clients_by_category(users_clean, 'home')
print(filtered)

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]

<div class="alert alert-block alert-success">
<b>Comentario de Revisor</b> <a class="tocSkip"></a>

Excelente, buen trabajo. La funci√≥n definida cumple con todo lo necesario, aplicas correctamente lo utilizado anteriormente en el notebook.
    

</div>

<details>
<summary>Haz clic para ver la pista</summary>
La lista de categor√≠as est√° en la posici√≥n 3, y la de gastos en la √∫ltima posici√≥n. Para calcular el gasto total de un usuario, puedes usar `sum()` sobre esa lista. Usa `append()` para agregar un nuevo registro a la lista final.

Al ejecutar el c√≥digo, ver√°s una lista con los usuarios que compraron en la categor√≠a `'home'`.